<div class="indent">
	<div class="container" >
		<header> 
			<h3><span class="glyphicon glyphicon-user"></span> Lista de clientes</h3>
		</header>
		<div class="row">
			<div class="col-md-11 col-lg-11">
				<div class="navbar">
					<ul class=" nav navbar-nav col-sm-7">
						<!-- <li ng-class="{active: modoDespliegue == enumModoDespliegue.Mosaico }" class="toolbaritem">
							<a ng-click="cambiaModoDespliegue(enumModoDespliegue.Mosaico)">
								<span class="glyphicon glyphicon-th-large"></span> Lista de clientes
							</a>
						</li> -->
						
						<!-- <li data-ng-class="{active: modoDespliegue == enumModoDespliegue.Lista }" class="toolbaritem">
							<a ng-click="cambiaModoDespliegue(enumModoDespliegue.Lista)">
								<span class="glyphicon glyphicon-align-justify"></span> Vista Lista
							</a>
						</li> -->
						
						<li class="toolbaritem">
							<a href="#/agregarCliente">
								<span class="glyphicon glyphicon-plus"></span> Agregar Cliente
							</a>
						</li>
						
					</ul>
					<!-- Busqueda, elemento dentro del div navbar -->
					
					<div class="form-group navbar-right">
						<label class="navbarText col-sm-4">Buscar:</label>
						
						<!-- input y boton de busqueda -->
						<div class="input-group col-sm-8">
							<input type="text" ng-model="busqueda"  class="form-control" />
						    <span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</span>
						</div>
					</div>
				</div>
				
				<!-- cada una de las vistas se muestra dependiendo del valor de  $scope.modoDespliegue -->
				<div class="row" >
					<div ng-show="modoDespliegue == enumModoDespliegue.Mosaico">
						<div ng-include src="'app/adminClientesApp/views/vistaMosaico.html'"></div>
					</div>
					
					<div ng-show="modoDespliegue == enumModoDespliegue.Lista">
						<div ng-include src="'app/adminClientesApp/views/vistaLista.html'"></div>
					</div>
				</div>
				
            
			</div>
		</div>
		
		

		
	</div>
</div>
